<?php if ($this->previewMode): ?>

    <h1>Preview Mode</h1>

<?php else: ?>
    <!-- Start of ContentBlocks -->

    <div class="contentblocks"
        id="<?= $this->getId() ?>"
        data-control="contentblocks"
        data-block-container="#<?= $this->getId('container') ?>"
        data-block-handle=".<?= $this->getId('handle') ?>"
        data-add-handler="<?= $this->getEventHandler('onAddBlock') ?>">

        <div id="<?= $this->getId('container') ?>"
            class="contentblocks-container">
            <?php foreach ($formWidgets as $widget): ?>
                <?= $this->makePartial('contentblocks_block', [
                    'widget' => $widget
                ]) ?>
            <?php endforeach ?>
        </div>

        <div>
            <a data-control="popup"
                data-handler="<?= $this->getEventHandler('onLoadPopup') ?>"
                class="contentblocks-add btn btn-default btn-block">                
                <span class="icon-plus"></span> Add Content Block
            </a>
        </div>
    </div>

    <!-- End of ContentBlocks -->
<?php endif ?>
