<div id="<?= $this->getId('popup') ?>" class="contentblocks-popup">
    <div class="modal-header">
        <a href="#"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">
            &times;
        </a>
        <h4 class="modal-title">Content Blocks</h4>
    </div>

    <div class="modal-body">
        <?php foreach ($blocks as $type => $details): ?>
            <a href="#"
                class="contentblocks-add"
                onClick="$('#<?= $this->getId() ?>').contentblocks('addBlock', '<?= $type ?>')"
                data-dismiss="modal">
                <div class="block-icon oc-<?= $details['icon'] ?? 'icon-leaf' ?>"></div>
                <div class="block-details">
                    <h4><?= $details['name'] ?></h4>
                    <p><?= $details['description'] ?></p>
                </div>
            </a>
        <?php endforeach ?>
    </div>

    <div class="modal-footer">
        <button type="button"
            data-dismiss="modal"                            
            class="btn btn-default">
            Cancel
        </button>
    </div>
</div>